*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5ede0;
}

.navbar {
    z-index: 1050; 
}

@media (max-width: 991.98px) {
    #navbarNav {
        background-color: #DBC9B2 !important; 
        padding-bottom: 10px; 
    }
}

/* LINKS DO MENU */
.navbar-nav {
    padding: 10px 0;
}

/* --- LADO ESQUERDO (Imagem e Boas-vindas) --- */
.left {
  background-color: #f5ede0; 
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

.left h2 {
  color: #d9985f;
  font-size: 1.4rem;
  font-weight: bold;
}

.left img {
  max-width: 45%;
  height: auto;
  margin-bottom: 20px; 
}

/* --- LADO DIREITO --- */
.right {
  background-color: #a67b51;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* --- CAIXA DE CADASTRO --- */
.cadastro-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%; 
  max-width: 350px;
  text-align: center;
}

/* --- TÍTULO DO CADASTRO --- */
.cadastro-box h1 {
  color: #d9985f;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

/* --- CAMPOS E BOTÕES --- */
input, button {
  margin: 8px 0;
  padding: 10px;
  /* O Bootstrap form-control garante a largura de 100% */
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  outline: none;
}

input {
  background-color: #f3f3f3;
}


button {
  background-color: #d9985f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c0804b;
}

/* --- LINK DO LOGIN --- */
.cadastro-text { 
  font-size: 0.85rem;
  color: #4a4a4a;
  margin-top: 15px;
}

.login-link {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.85rem;
  color: #d9985f;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
